/* Symantec Watermark: CB70-4860-5397-06-15-6 */
/*
// ////////////////////////////////////////////////////////////////////////////////////////////////
// Symantec copyright header start
// ////////////////////////////////////////////////////////////////////////////////////////////////
//
// PROPRIETARY / CONFIDENTIAL.
// Use of this product is subject to license terms.
// Copyright © 2016 Symantec Corporation.
// All rights reserved.
//
// ////////////////////////////////////////////////////////////////////////////////////////////////
// Symantec copyright header stop
// ////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media screen,contrast-screen
{
	div.coIddRightSpacer
	{
		border-left:1px solid #b3b0ad;
		margin-bottom:1px;
		margin-left:-1px;
		margin-right:-3px;
		height:100%;
		min-width:2px;
		padding-left:1px;
	}
	
	div[type="coTB_NSGButton"][nsgRating="0"]
	{
		background-position:0 4px 0 4px;
		background-repeat:no-repeat;
		background-image:url('../images/ic_toolbar_nsg-inactive.png');
		background-position: center; 	
		
		min-width:100px;
		max-width:100px;

		min-height:28px;
		max-height:28px;

		padding:0px;
		margin-right:auto;
		cursor:default;
		font-weight:normal;
		font-family:"Segoe UI", Tahoma, Sans-Serif;
		font-size:10px;
		position:relative;
		margin-left: -4px;
	}
	
	div[type="coTB_NSGButton"][nsgRating="1"],div[type="coTB_NSGButton"][nsgRating="7"]
	{
		background-position:0 4px 0 4px;
		background-image:url('../images/ic_toolbar_nsg-active.png');
		background-position: center; 
		background-repeat:no-repeat;
		
		min-width:100px;
		max-width:100px;

		min-height:28px;
		max-height:28px;

		padding:0px;
		margin-right:auto;
		cursor:default;
		font-weight:normal;
		font-family:"Segoe UI", Tahoma, Sans-Serif;
		font-size:10px;
		position:relative;
		margin-left: -4px;
	}
	
	div[type="coTB_NSGButton"]:hover 
	{
		background-color:#bfebfa;
	}

	div[type="coTB_NSGButton"]:active 
	{
		background-color:#00afec;
	}

	/*
	**************************************************************************
	Right-to-left lang - StatusButton changes
	***************************************************************************
	*/	
	
	/*
	body[dir="rtl"] div.coTB_Status
	{
		text-align:right;
	}	

	body[dir="rtl"] div[type="coTB_NSGButton"] 
	{
		background-position: 8px 4px;  // Location of safety icon within button 
		margin-left:1px;
		margin-right:0px;
		max-width:min-intrinsic;
	}
		
	body[dir="rtl"] div[type="coTB_NSGButton"]:active
	{
		margin: 1px 1px 0 0px;
	}
	
	body[dir="rtl"] div[type="coTB_NSGButton"]>text
	{
		background-position:right center;
		padding-right:10px;
	}*/
		

	/*
	****************************************************************************
	Short form mode - changes
	****************************************************************************
	*/
	/*
	div[type="coTB_NSGButton"][formfactor="short"],
	body[dir="rtl"] div[type="coTB_NSGButton"][formfactor="short"]
	{
		min-width:45px;
		max-width:45px;
		background-position:14px 4px !important;
	}
		
	div[type="coTB_NSGButton"][formfactor="short"] > text
	{
		margin-right:0;
		margin-left:0;
		background-position:34px center !important;
	}	
	  
		
	div[type="coTB_NSGButton"][coRating="coTB_Status_ShopGreen"][formfactor="short"], 
	div[type="coTB_NSGButton"][coRating="coTB_Status_ShopBad"][formfactor="short"],
	div[type="coTB_NSGButton"][coRating="coTB_Status_PageBadShopBad"][formfactor="short"]
	{
		background-position:4px 4px !important;
	}	
	
}
*/
@media contrast-screen
{
	div[type="coTB_NSGButton"]
	{
		background-color:White;
	}
	
	div[type="coTB_NSGButton"] > text
	{
		color:Black;
		font-weight:bold;
	}	
	
	div[type="coTB_NSGButton"],
	div[type="coTB_NSGButton"]
	{
		background-color:Window;
	}
	
	popup {
		font-size:12px;
	}	
}


